 body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #d2b48c;
   color: #333;
 }

 .container {
   max-width: 800px;
   margin: 20px auto;
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   position: relative;
 }

 .header {
   position: absolute;
   top: 20px;
   right: 20px;
 }

 .header img {
   width: 200px;
   height: 250px;
   border-radius: 25%;
 }

 h1,
 h2,
 h3 {
   color: #333;
 }

 .section {
   margin-bottom: 20px;
 }

 .section h2 {
   border-bottom: 2px solid #333;
   padding-bottom: 5px;
   margin-bottom: 10px;
 }

 .contact-info {
   margin-top: 20px;
 }

 .contact-info p {
   margin: 5px 0;
 }

        @media screen and (max-width: 600px) {
            header{
                display: none;
            }
        }
